<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SH EXP SITE DIRECTORY</title>
</head>
<br >
    <div>
        <a href='/hello'><div align="center"> <b>Hello </b></div></a>
    </div>
    <br>
    <div>
        <a href="/base_data_display"><div align="center"><b>Base data display</b></div></a>
    </div>
    <br>
    <div>
        <a href="/model_comparison"><div align="center"><b>Standard vs Optimized Model Comparison</b></div></a>
    </div>
    <br>
    <div>
        <a href="/scenario_comparison"><div align="center"><b>Average, High, Low Scenario Comparison</b></div></a>
    </div>
</body>
</html>